
APP_NAME = 'Autonomous Retrieval & QA Agent'
APP_VERSION = '0.1.0'

AZURE_OPENAI_KEY = ''
AZURE_OPENAI_ENDPOINT = ''
AZURE_OPENAI_GPT_MODEL_NAME = ''
AZURE_OPENAI_GPT_API_VERSION = ''
AZURE_OPENAI_EMBEDDING_MODEL_NAME = ''
AZURE_OPENAI_EMBEDDING_API_VERSION = ''

